//
//  Debug.xcconfig
//  IRShowcase
//
//  Created by Nuno Salvador on 21/03/2019.
//  Copyright © 2019 Nuno Salvador. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
OTHER_SWIFT_FLAGS = "-DDEBUG";
APIBASEURL = https:/$()/dummyjson.com
APIBabyNamePopularityBASEURL = https:/$()/data.cityofnewyork.us/api
APIAuthBearerKey = ;
APIUserAgent = Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124.0.0.0 Safari/537.36
